// main-container/utliity/background/button
$background-color: #f4f1ec;
$color: red;
$font-main: 'Source Sans Pro', sans-serif;
$font-nav: 'Bungee', cursive, sans-serif;
$font-weight: bold;
$pointer: pointer;

// navbar
$navbackground: #4056A1;
$navcolor: #FFF;
$navheight: 120px;
$navwidth: 100%;
$nav-font-size: 150%;

// header
$headerheight: 520px;
$headerwidth: 100%;
$headerbackground: #d6e5e3;
$headerbackgroundimg: url("https://www.transparenttextures.com/patterns/ag-square.png");

// new-tweets
$buttonactive: 1px;
$padding-space: 0.5rem;

// existing tweets
$box-shadow: 5px 5px rgb(200, 200, 220);
$userhandler: rgb(200, 202, 227);
$border-bottom: 5px solid black;