html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */
body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
}

.container {
  background-color: #f4f1ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Bungee", cursive, sans-serif;
  margin: 0 5%;
}
.container section {
  margin: 0.5rem;
}
.container section .error-message {
  display: flex;
  flex-direction: column;
}
.container div.wordExc, .container div.wordNone {
  display: none;
  font-weight: bold;
  color: red;
}
.container .fa-circle-exclamation {
  margin-right: 0.5rem;
}
.container .bttButton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  position: fixed;
  bottom: 1.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: red;
}
.container .bttButton:hover {
  cursor: pointer;
}
.container .bttButton .backToTop {
  color: white;
  align-items: center;
}
