section.new-tweet {
  display: none;
}
section.new-tweet form {
  display: flex;
  flex-direction: column;
}
section.new-tweet form label {
  font-weight: bold;
}
section.new-tweet form #tweet-text {
  outline: none;
  overflow: hidden;
  font-weight: bold;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 5px solid black;
  height: 2rem;
  resize: none;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
section.new-tweet form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.new-tweet form div button {
  background-color: #4056A1;
  color: #FFF;
  font-family: "Bungee", cursive, sans-serif;
  padding: 0 0.5rem;
  border: none;
}
section.new-tweet form div button:active {
  transform: translateY(1px);
}
section.new-tweet form div output {
  font-weight: bold;
  font-family: "Bungee", cursive, sans-serif;
}