article.tweet {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  padding: 0.5rem;
  margin: 1.5rem 0;
}
article.tweet:hover {
  box-shadow: 5px 5px rgb(200, 200, 220);
}
article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
article.tweet header .avatarHead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
article.tweet header .avatarHead span {
  margin-left: 0.5rem;
}
article.tweet header .userHandler {
  color: rgb(200, 202, 227);
}
article.tweet div.tweet {
  font-weight: bold;
  padding: 2rem 1rem;
  border-bottom: 5px solid black;
  margin: none;
  word-wrap: break-word;
}
article.tweet footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
article.tweet footer .dateCreated {
  font-size: 1rem;
  font-weight: bold;
}
article.tweet footer .fasolid {
  color: #4056A1;
}
article.tweet footer .fasolid:hover {
  color: red;
  cursor: pointer;
}
