nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
 }

.outerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin: 0 1.5rem;
}

nav .fa-solid {
  color: red;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes floating {
  0% {transform: translateY(0);}
  50% {transform: translateY(5px);}
  100% {transform: translateY(-0px);}
}

span {
  text-align: center;
}


#logo {
  display: flex;
  align-self: flex-end;
  font-family: 'Bungee', cursive, sans-serif;
  padding: 0.5rem 0;
  font-size: 150%;
}

.createNew:hover {
  cursor: pointer;
}