.new-tweet {
  display: none;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet label {
  font-weight: bold;
}

.new-tweet div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet-text {
  outline: none;
  overflow: hidden;
  font-weight: bold;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 5px solid;
  height: 1.5em;
  resize: none;
  padding-bottom: 0.5em; 
  margin-bottom: 0.5em;
}


output {
  font-weight: bold;
  font-family: 'Bungee', cursive, sans-serif;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive, sans-serif;
  padding: 0 0.5em;
  border: none;
}

 button:active {
   transform: translateY(1px);
 }