article.tweet {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  padding: 0.5em;
  margin: 1.5em 0;
}

article.tweet:hover {
  box-shadow: 5px 5px rgb(200, 200, 220)
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

article.tweet header div.avatarHead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

article.tweet header div.avatarHead span {
  margin-left: 0.5em;
}

article.tweet header div.userHandler {
  color: rgb(200, 202, 227);
}

article.tweet div.tweet {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  padding: 2em 1em;
  border-bottom: 5px solid black;
  margin: none;
}

article.tweet footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}

article.tweet footer div.dateCreated {
  font-size: 0.7em;
  font-weight: bold;
}

article.tweet footer .fa-solid {
  color: #4056A1;
}

article.tweet footer .fa-solid:hover {
  color: red;
}